#logo {
  width: 120px;
}

.navbar {
  height: 70px;
  padding: 20px 40px;
}

.navbar-brand, .navbar-brand:hover {
  cursor: pointer !important;
}

.add-cta {
  color: #e90913;
  background-color: #080808;
  border: 1px solid #e90913;
}

